{% extends 'layouts.master' %}

{% set bodyClass = '-login' %}

{% import 'macros.forms' as form %}

{% block content %}
	<form class="box login" action="/login" method="post">
			{{ csrf_field() }}

			{% include 'includes.logo' with {
				modifier: '-centered -spaced',
				fill: '#595959'
			} %}

			{{ form.input({
				infieldLabel: true,
				name: 'Email',
				type: 'email',
				value: old('email'),
				errors: errors.messages.email
			}) }}

			{{ form.input({
				infieldLabel: true,
				type: 'password',
				name: 'Password',
				value: '',
				errors: errors.messages.password
			}) }}

			{{ form.submit({
				colored: true,
				class: '-is-full'
			}) }}
		</form>
{% endblock %}