{% include 'includes.logo' with {
	fill: '#ffffff',
	modifier: '-centered -spaced',
	link: '/'
} %}

<a href="/snippets/create" class="button button-secondary sidebar-button">New Snippet</a>

<nav class="nav -white">
	{% include 'partials.nav' %}
</nav>
