{% extends pjax ? 'layouts.pjax' : 'layouts.split' %}

{% set title = 'Snippets' %}

{% block body %}
	{% if snippets is not empty %}
		<div class="snippets">
			<h1>{{ header }}</h1>
			{% for snippet in snippets %}
				{% include 'snippets._snippet' %}
			{% endfor %}
		</div>
	{% else %}
		<h1>No snippets yet :(</h1>
	{% endif %}

	{% include 'partials.pagination' with { object: snippets } %}
{% endblock %}