<title>{{ title|default('') }} | Lewis Snippets</title>

<main class="content" data-ref="main">
	<div class="content__header" data-ref="header">
		{% include 'partials.header' %}
	</div>
	<div class="content__inner">
		{{ block('body') }}
	</div>
</main>